.popCol {
    height: 400px;
}

.popFeature {
    font-weight: 800;
}

.popFeature1:nth-child(1) {
    transform-origin: bottom right;
    transform: rotate(15deg);
}

.popFeature1:nth-child(3) {
    transform-origin: top right;
    transform: rotate(-15deg);
}

.popFeature2:nth-child(1) {
    transform-origin: bottom left;
    transform: rotate(-15deg);
}

.popFeature2:nth-child(3) {
    transform-origin: top left;
    transform: rotate(15deg);
}

@media screen and (max-width: 1200px) {
    .popFeature1:nth-child(1), .popFeature1:nth-child(3), .popFeature2:nth-child(1), .popFeature2:nth-child(3) {
        transform-origin: center;
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    .popFeature {
        text-align: center !important;
    }

    .popLogo {
        display: none;
    }

    .popCol {
        height: 100%;
    }

    .popCol:last-child {
        margin-top: 4rem;
    }
}